
{% extends "base.html" %}
{% block title %} User Dashboard {% endblock %}
{% block content %}
    <div class="w-full flex flex-col items-center justify-center font-poppins">
        {% if user.is_authenticated %}
            <div class="w-1/3 bg-cyan-500 py-3 px-5 my-6 rounded-3xl shadow-sm text-center">
                <h1 class="text-2xl font-bolder">Welcome, <span class="text-white">{{user.first_name}} {{user.last_name}}</span></h1>
            </div>
        {% endif %}
        <div class="w-full px-10">
            <table class="w-full text-center table-auto border-collapse border border-cyan-200 mb-6">
                <thead>
                        <tr class="bg-cyan-500 text-white border border-cyan-200 h-12">
                            <th class="border border-cyan-200">First Name</th>
                            <th class="border border-cyan-200">Last Name</th>
                            <th class="border border-cyan-200">User Name</th>
                            <th class="border border-cyan-200">Email</th>
                        </tr>
                </thead>
                <tbody>
                    <tr class="h-12">
                        <td class="border border-cyan-200 font-">{{user.first_name}}</td>
                        <td class="border border-cyan-200 font-">{{user.last_name}}</td>
                        <td class="border border-cyan-200 font-">{{user.username}}</td>
                        <td class="border border-cyan-200 font-">{{user.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="w-full flex items-center justify-center">
            <form class="w-1/3 flex flex-col gap-3" method="post">
                {% csrf_token %}
                <input class="py-2 px-8 block w-full border-2 border-green-200 rounded-3xl focus:outline-none focus:border-green-500"  type="text" name="firstname" placeholder="First Name">
                <input class="py-2 px-8 block w-full border-2 border-green-200 rounded-3xl focus:outline-none focus:border-green-500"  type="text" name="lastname" placeholder="Last Name">
                <input class="py-2 px-8 block w-full border-2 border-green-200 rounded-3xl focus:outline-none focus:border-green-500"  type="email" name="email" placeholder="Email">
                <input class="py-2 px-8 block w-full border-2 border-green-200 rounded-3xl focus:outline-none focus:border-green-500"  type="password" name="currentpassword" placeholder="Current Password*">
                <input class="py-2 px-8 block w-full border-2 border-green-200 rounded-3xl focus:outline-none focus:border-green-500"  type="password" name="newpassword" placeholder="New Password*">
                <input class="px-5 py-3 bg-green-500 rounded-3xl font-bold text-white cursor-pointer hover:bg-green-600" type="submit" value="Update Details">
            </form>
        </div>
        <div class="w-full flex items-center justify-start px-10 mt-3">
            {% for message in messages %}
                <div class="px-6 py-3 rounded-3xl bg-red-200">
                    <p>{{ message }}</p>
                </div> 
            {% endfor %}
        </div>
    </div>
{% endblock %}