{% extends "base.html" %}

{% block title %}{{blog.title}}{% endblock %}

{% block content %}
    <div class="w-full h-full flex items-center justify-center">
        <div class="w-1/2 flex flex-col items-start justify-start py-14">
            <h1 class="text-5xl font-bolder mb-4">{{blog.title}}</h1>
            <div class="flex items-center gap-2">
                <p class="text-lg font-bold">{{blog.author}}</p> /
                <p class="text-gray-500">{{blog.created_on}}</p>
            </div>
            <div class="flex gap-2 mb-6">
                {% for tag in tags %}
                <p class="text-lg text-gray-500">{{tag.name}}</p>
                {% endfor %}
            </div>
            <img class="w-full h-full mb-4" src="{{blog.image.url}}" alt="Featured Image">
            {{blog.content | safe}}
        </div>
    </div>
{% endblock %}