{% extends "base.html" %}
{% load static %}
{% block title %}Blogs{% endblock %}

{% block content %}
    <div>
        <!-- Tags -->
        <div class="grid grid-cols-5">
            {% for tag in tags %}
            <div class="col-span-1 relative cursor-pointer group transition-transform">
                <img src="{{ tag.image.url }}" alt="Thumb image" class="w-full h-full">
                <h1 class="text-2xl font-bold text-white absolute bottom-5 left-5 z-10 group-hover:scale-110 duration-1000 ease-out">{{tag.name}}</h1>
            </div>
            {% endfor %}
        </div>

        <!-- Blogs -->
        
    </div>
{% endblock %}
